$dark-color: #2e323f;
$med-color: #3b4050;
$light-color: #6f737f;
$gold-color: #a59678;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

html {
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 2rem 1rem;
}

.title {
  color: $gold-color;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.para {
  font-family: "Montserrat", sans-serif;
  color: $light-color;
}

.accent {
  color: $gold-color;
}

.buttons {
  background: $gold-color;
  padding: 0.5em 2em;
  border-radius: 50rem;
}

header {
  background: $dark-color;
  text-align: center;
  padding: 1.5rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.navtoggle {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background: $dark-color;
  border: 0.15rem solid #17181f;
  border-radius: 5rem;
  position: absolute;
  display: flex;
  align-items: center;

  left: 15px;
  top: 15px;

  &__hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 3px;
    margin: 0 auto;
    background: white;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 25px;
      height: 3px;
      background: white;
    }

    &::before {
      transform: translate(5px, -9px);
    }
    &::after {
      transform: translate(5px, 6px);
    }
  }
}

.nav {
  width: 100%;
  position: absolute;
  height: 0;
  visibility: hidden;

  &__item {
    padding: 1rem;
  }

  &__link {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
  }

  &--visible {
    visibility: visible;
    height: auto;
    position: relative;
  }
}

.main {
  background: $med-color;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  h1 {
    color: white;
    font-size: 2.625rem;
    line-height: 1em;
  }

  &__para {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: white;
    font-size: 1rem;


    .cta {
      cursor: pointer;
      text-align: center;
      width: 12em;
      background: $gold-color;
      color: white;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 1.2em;
    }
  }
}

.points {
  background: #f1f1f1;
  text-align: center;
  &__container {
    padding: 2rem;
  }
  &__text {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  &__title {
    font-size: 1.875rem;
    padding-bottom: 1rem;
  }

  &__para{
    font-size: 1.125rem;
  }
}

.article {
  padding: 2rem 0;
  &__title {
    color: $gold-color;
    font-size: 2rem;
    padding: 1rem 0;
  }
  &__para {
    color: $med-color;
  }
  &__img {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
  }
}

.sidecontent {
  &__container {
    background: $med-color;
    margin: 1rem 1rem;
    padding: 1.5em 0;
    text-align: center;
  }

  &__text {
    width: 85%;
  }

  &__title {
    color: white;
    padding: 0.5em;
  }

  &__para{
    color: rgb(204, 202, 202);
  }
}

.footer {
  background: $med-color;
  padding-bottom: 2rem;
  &--titlemain {
    color: white;
    padding: 2rem 0;
  }

  &__main {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 1rem 0;
  }

  &__side {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 100%;
  }

  &__content {
    align-self: flex-start;
  }

  &__para {
    font-size: 1rem;
    padding: 0.5em 0;
  }
}

@media screen and (min-width: 700px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .head{
    padding: 0rem 1.5rem;
  }

  .navtoggle{
    display: none;
  }

  .nav {
    visibility: visible;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;

    &__list{
      display: flex;
    }

    &__link {
      font-size: 1.25rem;
    }
  }

  .main {
    padding: 5rem;
    h1 {
      font-size: 3.625rem;
      max-width: 30em;
    }
  
    &__para {
      align-self: flex-end;
      max-width: 24em;
    }
  }

  .points{
    &__container{
      padding: 2rem 0.5rem;
    }
    &__title {
      font-size: 1.875rem;
      padding-bottom: 1rem;
    }
  }

  .footer{
    &__main{
      padding: 0 3rem;
    }
  }
}

@media screen and (min-width: 1000px){
  .row-big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main {
    padding: 5rem;
    h1 {
      font-size: 4.625rem;
    }
  
    &__para {
      align-self: flex-end;
      font-size: 1.5rem;
    }
  }

  .article {
    padding: 2rem 0;
    flex-grow: 1;
    padding: 0 2rem;
    &__title {
      color: $gold-color;
      padding: 1rem 0;
    }
    &__para {
      color: $med-color;
    }
    &__img {
      width: 100%;
    }
  }
  
  .sidecontent {
    flex-direction: column;
    padding: 0 1.5rem;

    &__container {
      background: $med-color;
      margin: 1rem 0;
      padding: 1em 0;
      text-align: center;
    }
  
    &__text {
      width: 90%;
    }
  
    &__title {
      color: white;
      padding: 0.5em;
    }
  }
}
